* {
	--top-height: calc(70px + 2rem); /* 70px for header, 2rem for top padding */
}

.main {
	height: calc(100vh - var(--top-height)); /* Try to fill the remaining space after header*/
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	position: relative;
}

.box {
	height: 60%;
	/* width: var(--content-width); */
	width: 50%; /* TODO breakpoints */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	translate: 0 calc(-1 * var(--top-height) / 2); /* Center the box vertically on the viewport. TODO refactor*/
}

.box .left {
	display: flex;
	flex-direction: column;
}

.links {

}

.chevron {
	position: absolute;
	bottom: 20px;
	height: 25px;
	width: auto;
	cursor: pointer;
	animation: chevron-bounce 1s infinite;
}

@keyframes chevron-bounce {
	0% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}

	50% {
		transform: translateY(-10px);
		animation-timing-function: ease-in;
	}

	100% {
		transform: translateY(0);
	}
}

.quote {
	position: absolute;
	bottom: 70px;
	font-size: 0.8rem;
	color: var(--color-text-muted);
	font-style: italic;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: var(--top-height);
	width: var(--content-width);
}