.container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 1000;
	height: 65px;
	width: 100vw;
	display: inline-flex;
	justify-content: center;
	border-bottom: 1px solid transparent;
	transition: border-color 0.5s ease;
}

.containerScrolled {
	border-bottom: 1px solid var(--color-border);
	backdrop-filter: blur(20px);
	box-shadow: 0 2px 4px var(--color-shadow);
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	/* width: var(--content-width); */
	width: 60%;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 70%;
	border: 1px solid var(--color-border);
	padding: 0 1rem;
	border-radius: 9999px;
	transition: background 0.5s ease;
	backdrop-filter: blur(10px);
	position: relative;
}

.navbarScrolled {
	border: none;
	background: transparent;
	backdrop-filter: none;
}

.navbar .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	color: var(--color-text);
}

.navbar .item::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	opacity: 0;
	border-radius: 9999px;
	background: var(--color-text);
	filter: blur(8px);
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.navbar .item:hover::before {
	opacity: 0.1;
}

.navbar .item.active {
	color: var(--color-primary);
}

.navbar .item.active::after {
	content: "";
	position: absolute;
	bottom: -10px;
	width: 80%;
	height: 1px;
	background: linear-gradient(to right,
			transparent,
			var(--color-primary),
			transparent);
	border-radius: 2px;
	pointer-events: none;
}

/* Submenu base style */
.menuWrapper {
	position: relative;
	display: inline-block;
}

.submenu {
	display: none;
	position: absolute;
	top: 200%;
	left: 50%;
	transform: translate(-50%, -5%);
	opacity: 0;
	transition: opacity 0.25s ease, transform 0.25s ease, display 0.25s ease;
	transition-behavior: allow-discrete;
	transition-delay: 400ms;
	background: var(--color-bg);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border);
	box-shadow: 0 8px 16px var(--color-shadow);
	min-width: 30vw;
	padding: 0.75rem 1rem;
	z-index: 1000;
}

.menuWrapper:hover .submenu {
	display: block;
	opacity: 1;
	transform: translate(-50%, 0);
	transition-delay: 0s;

	@starting-style {
		opacity: 0;
		transform: translate(-50%, -10%);
	}
}

.submenu .subitem {
	display: block;
	padding: 0.5rem 0;
	color: var(--color-text);
	text-decoration: none;
	transition: color 0.3s ease;
}

.markdownInfo {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.markdownInfo p {
	margin: 0;
	font-size: 0.9rem;
}

.markdownInfo h5 {
	margin: 0
}

.markdownInfo .left {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.markdownInfo .right {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}