.container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 1000;
	height: 65px;
	width: 100vw;
	display: inline-flex;
	justify-content: center;
	border-bottom: 1px solid transparent;
	transition: border-color 0.5s ease;
}

.containerScrolled {
	border-bottom: 1px solid var(--color-border);
	backdrop-filter: blur(20px);
	box-shadow: 0 2px 4px var(--color-shadow);
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: var(--content-width);
	/* Just in case someone with an ultra wide screen comes along */
	max-width: 1000px;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 70%;
	border: 1px solid var(--color-border);
	padding: 0 1rem;
	border-radius: 9999px;
	transition: background 0.5s ease;
	backdrop-filter: blur(10px);
	position: relative;
}

.navbarScrolled {
	border: none;
	background: transparent;
	backdrop-filter: none;
}

.navbar .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	color: var(--color-text);
}

.navbar .item::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	opacity: 0;
	border-radius: 9999px;
	background: var(--color-text);
	filter: blur(8px);
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.navbar .item:hover::before {
	opacity: 0.1;
}

.navbar .item.active {
	color: var(--color-primary);
}

.navbar .item.active::after {
	content: "";
	position: absolute;
	bottom: -10px;
	width: 80%;
	height: 1px;
	background: linear-gradient(to right,
			transparent,
			var(--color-primary),
			transparent);
	border-radius: 2px;
	pointer-events: none;
}

.markdownInfo {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.markdownInfo {
		width: 70%;
	}
	
}

.markdownInfo p {
	margin: 0;
	font-size: 0.9rem;
}

.markdownInfo h5 {
	margin: 0
}

.markdownInfo .left {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.markdownInfo .right {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

.menuWrapper {
	position: relative;
	display: inline-block;
}

/* Hover bridge. Allows the submenu to be positioned top: 200% while retaining hover abilities */
.menuWrapper::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Submenu base style */

.submenu {
	display: none;
	position: absolute;
	top: 200%;
	left: 50%;
	transform: translate(-50%, -5%);
	opacity: 0;
	transition: opacity 0.25s ease, transform 0.25s ease, display 0.25s ease;
	transition-behavior: allow-discrete;
	background: var(--color-bg);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border);
	box-shadow: 0 8px 16px var(--color-shadow);
	min-width: 30vw;
	padding: 0.75rem 1rem;
	z-index: 1000;
}

.menuWrapper:hover .submenu {
	display: block;
	opacity: 1;
	transform: translate(-50%, 0);

	@starting-style {
		opacity: 0;
		transform: translate(-50%, -10%);
	}
}

.subitem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	padding: 0.5rem 0;
	color: var(--color-text-muted);
	text-decoration: none;
	transition: color 0.3s ease, transform 0.25s ease;
}

.subitem h5 {
	color: var(--color-text-muted);
}

.subitem div {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-left: 2rem;
	gap: 0;
}

.subitem.active, .subitem.active h5 {
	color: var(--color-primary);
	pointer-events: none;
}


.subitem:hover {
	transform: translateX(5px);
	color: var(--color-text)
}

.subitem:hover h5 {
	color: var(--color-text);
}

/* Mobile menu */

.burgerIcon {
	font-size: 2rem;
}

.navbarMobileContainer {
	position: relative;
}

.navbarMobile {
	position: absolute;
	top: 120%;
	right: 0;
	background: var(--color-bg);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	box-shadow: 0 8px 16px var(--color-shadow);
	min-width: 40vw;
	padding: 0.75rem 1rem;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 0.5rem;
}

.itemMobile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	color: var(--color-text);
	font-size: 1.5rem;
	gap: 1rem;
}

.itemMobile.active {
	color: var(--color-primary);
}